doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    div#root
    script(type='text/javascript' src='/javascripts/compiled/index.js')
