doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans+JP')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div#root
    script(type='text/javascript' src='/javascripts/compiled/timer.js')
    audio(src='/sounds/bell.mp3' type="audio/mpeg")
    audio(src='/sounds/click.mp3' type="audio/mpeg")
