doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src='/javascripts/index.js')

block content
  h1= "Mob Timer"
  div#root
  div
    button.toggle TOGGLE start/stop
  div.name-input-wrapper
    label(for='name-input') NAME:
    input(type='text')#name-input
  div.connection
    span.connection-status
  ul.history-list