doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src='/javascripts/index.js')

block content
  h1= "Mob Timer"
  div#root
  div.connection
    span.connection-status
  ul.history-list