doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src='/javascripts/index.js')

block content
  h1= "Simple Timer"
  p.time #{min}:#{sec}
  button.reset-button RESET