doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    nav
      h2 Choose Timer:
      ul.timer-list
        each id in ids
          li
            a(href=id + "/") #{id}