body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Noto Sans JP, sans-serif';
  letter-spacing: 0.05em;
}

h2 {
  display: inline;
}

ul.timer-list {
  list-style: none;
  font-size: x-large;
}

ul.timer-list li {
  display: inline-block;
  margin: 0 10px;
}
