body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Noto Sans JP', 'sans-serif';
  letter-spacing: 0.05em;
}

button {
  padding: 5px;
  margin: 2px;
  font-size: medium;
  font-family: inherit;
}
